html,
body {
    scroll-behavior: smooth;
}

#sec1 {
    padding-top: 20px;
    padding-bottom: 5vw;

    position: relative;
}

#sec1 figure {
    width: calc(100% - 680px);
    margin: auto;
    height: 50vh;
    position: relative;
}

#sec1 figure {
    background-color: white;
}

#sec1 figure>p {
    position: absolute;
    top: 25%;
    left: 0;
    transform: translateY(-35%);
}

/* 메뉴 */

/* 섹션1 메인0 시작*/
#sec1 .swiper-wrapper::after {
    position: absolute;
    content: "";
    background: url(../img/tag1.png) no-repeat;
    background-size: contain;
    width: 34%;
    top: -10%;
    height: 150%;
    left: 0%;
    z-index: 1;
}

.rotate {
    z-index: 10;
    position: absolute;
    right: 20%;
    width: 10%;
    bottom: 6vh;
}
.rotate p {
    position: absolute;
    z-index: 1;
}
.logo_center,
.logo_rotate {
    border: 1px solid blue;
    width: 6vw;
    height: 6vw;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.logo_center img,
.logo_rotate img {
    border: 1px solid red;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 3vw;
}
.logo_rotate img {
    border: 1px solid green;
    width: 5vw;
    left: 0;
}

.rotate .logo_rotate img {
    animation: rotate infinite linear 50s;
    transform-origin: center center;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

#sec1 .main0 {
    height: 25vw;
}

#sec1 .main0 figcaption {
    height: 130%;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    background-color: white;
}

#sec1 .main0 figcaption .text {
    /* width: 100vw; */
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 10%;
}

#sec1 .main0 figcaption .text_1 {
    font-size: 2vw;
    padding: 5% 0;
}

#sec1 .main0 figcaption .text_2 {
    font-size: 1.5vw;
}

#sec1 .main0 figcaption .img {
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 15vw;
    height: 70%;
    margin-left: 18%;
}

#sec1 .main0 figcaption .img img {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width:1350px) {
    #sec1 {
        padding: 0px;
    }
    #sec1 .main0 {
        height: 100%;
    }
    #sec1 .main0 figcaption {
        position: relative;
        height: 80vw;
    }
    #sec1 .main0 figcaption .text_1 {
        font-size: 5vw;
    } 
    #sec1 .main0 figcaption .text_2 {
        font-size: 3vw;
    }
    #sec1 .main0 figcaption .img {
        width: 35vw;
        position: absolute;
        bottom: 0;
    }
    #sec1 .main0 figcaption .img img {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%,-50%);
    }
}
/* 섹션1 메인0 끝 */

/* 섹션1 메인1 시작 */

.main1 figcaption {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.main1 figcaption .text {
    height: 60%;
    width: 40%;
    padding: 10% 0;
    text-align: right;

    position: relative;
}

.main1 figcaption .text p:nth-child(1),
.main1 figcaption .text p:nth-child(2),
.main1 figcaption .text p:nth-child(3) {
    position: relative;
    z-index: 10;
}

.main1 figcaption .text .bg {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    width: 200%;
    height: 200%;
    opacity: 0.2;
}

.main1 figcaption .text .bg img {
    width: 100%;
}

.main1 figcaption .text p:nth-child(1) {
    font-size: 1.2vw;
}
.main1 figcaption .text p:nth-child(2) {
    font-size: 1.6vw;
}

.main1 figcaption .text p:nth-child(3) {
    font-size: 2.5vw;
    white-space: nowrap;
}
@media (max-width:1350px) {
    .main1 figcaption .text p:nth-child(1) {
        font-size: 2.8vw;
    }
    .main1 figcaption .text p:nth-child(2) {
        font-size: 5vw;
    }
    
    .main1 figcaption .text p:nth-child(3) {
        font-size: 8vw;
        white-space: nowrap;
    }
}
.main1 figcaption .img {
    margin-left: 2vw;
    width: 40vh;
    height: 60%;
    position: relative;
}

.main1 figcaption .img img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* svg */
.main1 #svg {
    position: absolute;
    width: 180%;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.main0 .text {

    position: relative;
}

.main0 svg {
    position: absolute;
    width: 25vw;
    top: -30%;
    left: -50%;
    z-index: 0;

}

.svg1 svg path {
    animation: morph1 3.5s infinite linear alternate;
}

@keyframes morph1 {
    0% {
        d: path("M47.8,-54.2C61.5,-45.5,71.8,-30,76.6,-12.1C81.5,5.8,80.8,26,70.1,36.6C59.3,47.1,38.6,48,19.7,55.5C0.9,62.9,-16.1,76.8,-31.9,76.1C-47.7,75.3,-62.3,59.9,-71.4,42.2C-80.4,24.5,-83.9,4.5,-80.4,-14C-76.9,-32.5,-66.5,-49.6,-51.9,-58.1C-37.3,-66.7,-18.7,-66.6,-0.8,-65.7C17.1,-64.7,34.1,-62.8,47.8,-54.2Z");
    }

    100% {
        d: path("M33.4,-39.8C42.4,-32.3,48,-20.9,50.6,-8.6C53.2,3.7,52.6,16.9,49.2,33.6C45.7,50.4,39.4,70.7,27.3,75.1C15.2,79.6,-2.7,68.1,-18.7,59C-34.7,49.9,-48.8,43.1,-60.8,31C-72.8,18.8,-82.7,1.2,-81.6,-16C-80.6,-33.3,-68.5,-50.3,-53.1,-56.7C-37.6,-63,-18.8,-58.7,-3.3,-54.8C12.2,-50.9,24.5,-47.3,33.4,-39.8Z");
    }
}

.svg2 svg path {
    animation: morph2 3.5s infinite linear alternate;
}

@keyframes morph2 {
    0% {
        d: path("M33.4,-39.8C42.4,-32.3,48,-20.9,50.6,-8.6C53.2,3.7,52.6,16.9,49.2,33.6C45.7,50.4,39.4,70.7,27.3,75.1C15.2,79.6,-2.7,68.1,-18.7,59C-34.7,49.9,-48.8,43.1,-60.8,31C-72.8,18.8,-82.7,1.2,-81.6,-16C-80.6,-33.3,-68.5,-50.3,-53.1,-56.7C-37.6,-63,-18.8,-58.7,-3.3,-54.8C12.2,-50.9,24.5,-47.3,33.4,-39.8Z");
    }

    100% {
        d: path("M44.2,-53C54.3,-44.2,57.5,-27.4,58.8,-11.6C60.1,4.2,59.5,19.1,53.9,33.1C48.2,47.2,37.5,60.3,24,64.5C10.6,68.7,-5.5,64.1,-23.9,59.9C-42.2,55.7,-62.8,51.9,-72.7,39.6C-82.7,27.3,-82,6.5,-75.2,-10C-68.5,-26.6,-55.6,-38.8,-42.1,-47C-28.5,-55.2,-14.3,-59.3,1.4,-61C17,-62.6,34.1,-61.8,44.2,-53Z");
    }
}

.svg3 svg path {
    animation: morph3 3.5s infinite linear alternate;
}

@keyframes morph3 {
    0% {
        d: path("M44.2,-53C54.3,-44.2,57.5,-27.4,58.8,-11.6C60.1,4.2,59.5,19.1,53.9,33.1C48.2,47.2,37.5,60.3,24,64.5C10.6,68.7,-5.5,64.1,-23.9,59.9C-42.2,55.7,-62.8,51.9,-72.7,39.6C-82.7,27.3,-82,6.5,-75.2,-10C-68.5,-26.6,-55.6,-38.8,-42.1,-47C-28.5,-55.2,-14.3,-59.3,1.4,-61C17,-62.6,34.1,-61.8,44.2,-53Z");
    }

    100% {
        d: path("M49.4,-56.5C61.8,-48.4,68.3,-30.8,72.2,-12.2C76.1,6.4,77.4,25.9,67.9,36.4C58.5,46.8,38.3,48.2,20.8,52.7C3.3,57.1,-11.5,64.6,-27.8,64C-44.1,63.4,-61.9,54.8,-73.6,39.9C-85.2,25.1,-90.7,4.1,-86.9,-15C-83.1,-34,-70.1,-51,-54,-58.4C-38,-65.8,-19,-63.7,-0.3,-63.4C18.5,-63,36.9,-64.5,49.4,-56.5Z");
    }
}

.svg4 svg path {
    animation: morph4 3.5s infinite linear alternate;
}

@keyframes morph4 {
    0% {
        d: path("M49.4,-56.5C61.8,-48.4,68.3,-30.8,72.2,-12.2C76.1,6.4,77.4,25.9,67.9,36.4C58.5,46.8,38.3,48.2,20.8,52.7C3.3,57.1,-11.5,64.6,-27.8,64C-44.1,63.4,-61.9,54.8,-73.6,39.9C-85.2,25.1,-90.7,4.1,-86.9,-15C-83.1,-34,-70.1,-51,-54,-58.4C-38,-65.8,-19,-63.7,-0.3,-63.4C18.5,-63,36.9,-64.5,49.4,-56.5Z");
    }

    100% {
        d: path("M56,-64.2C71.4,-53.9,81.7,-35.1,82.4,-16.7C83.2,1.7,74.2,19.7,62,31.2C49.9,42.7,34.6,47.8,18.7,55.3C2.8,62.8,-13.7,72.8,-30.7,72C-47.7,71.1,-65.2,59.5,-72.5,43.5C-79.8,27.5,-76.8,7.3,-73.3,-13C-69.8,-33.2,-65.8,-53.4,-53.5,-64.3C-41.2,-75.2,-20.6,-76.8,-0.1,-76.6C20.3,-76.5,40.7,-74.6,56,-64.2Z");
    }
}

.svg5 svg path {
    animation: morph5 3.5s infinite linear alternate;
}

@keyframes morph5 {
    0% {
        d: path("M56,-64.2C71.4,-53.9,81.7,-35.1,82.4,-16.7C83.2,1.7,74.2,19.7,62,31.2C49.9,42.7,34.6,47.8,18.7,55.3C2.8,62.8,-13.7,72.8,-30.7,72C-47.7,71.1,-65.2,59.5,-72.5,43.5C-79.8,27.5,-76.8,7.3,-73.3,-13C-69.8,-33.2,-65.8,-53.4,-53.5,-64.3C-41.2,-75.2,-20.6,-76.8,-0.1,-76.6C20.3,-76.5,40.7,-74.6,56,-64.2Z");
    }

    100% {
        d: path("M47.8,-54.2C61.5,-45.5,71.8,-30,76.6,-12.1C81.5,5.8,80.8,26,70.1,36.6C59.3,47.1,38.6,48,19.7,55.5C0.9,62.9,-16.1,76.8,-31.9,76.1C-47.7,75.3,-62.3,59.9,-71.4,42.2C-80.4,24.5,-83.9,4.5,-80.4,-14C-76.9,-32.5,-66.5,-49.6,-51.9,-58.1C-37.3,-66.7,-18.7,-66.6,-0.8,-65.7C17.1,-64.7,34.1,-62.8,47.8,-54.2Z");
    }
}

/*  */
/* 섹션1 메인1 끝 */
/* 왼쪽 도트 */
#sec1 .swiper-pagination {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    height: 200px;
    width: 5%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.swiper-pagination-bullet {
    width: 100%;
    min-height: 30px;
    background: transparent;
    opacity: 1;
}
.swiper-pagination-bullet {
    color: var(--main-color1);
}
.swiper-pagination-bullet-active:before {
    content: "-";
    position: absolute;
    left: -40%;
    width: 25px;
}

/* 도트 끝 */
/* 섹션 2 시작 */
#sec2 {
    padding-top: 5vw;
    text-align: center;

    background: url(../img/line_bg.png) no-repeat bottom;
    background-size: contain;
    position: relative;

    z-index: -10;
}

#sec2::after,
#sec2::before {
    position: absolute;
    content: "";
    top: 6vw;
}

#sec2::after {
    right: 30%;
}

#sec2::before {
    position: absolute;
    background: url(../img/tag2.png) no-repeat right;
    background-size: contain;
    width: 100%;
    height: 100%;
    left: 0;
    top: -20vw;
}

#sec2::after {
    background: url(../img/tag3.png) no-repeat left;
    background-size: contain;
    width: 100%;
    height: 100%;
    left: 0;
}

#sec2 h1 {
    font-family: 'GmarketSansLight';
    font-size: 34px;

    position: relative;
}

#sec2 h1::before {
    position: absolute;
    content: "";
    background: url(../img/bgYellow.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 250%;
    left: 0%;
    top: -20%;
    z-index: -10;
}

#sec2>p {
    margin-bottom: 5vw;

    position: relative;
}

#sec2>p::after,
#sec2>p::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -0.5vw;
    background: url(../img/berry.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 60%;
    left: 0;
}

#sec2>p::after {
    left: -25%;
}

#sec2>p::before {
    transform: scaleX(-1);
    left: 25%;
}

#sec2 .inner2 {
    position: relative;
    width: 80vw;
    height: 50vh;
    margin: auto;
}

#sec2 .inner2 .hover {
    padding-top: 15vw;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

#sec2 .inner2 .hover .hov {
    height: 16vw;
    width: 16vw;
    bottom: 0;
}

#sec2 .inner2 .hover .hov_inner {
    position: absolute;
    height: 50%;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
}

#sec2 .inner2 .hover .hov .text {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    z-index: 5;
}

#sec2 .text p {
    opacity: 0;
}

#sec2 .text.on p {
    opacity: 1;
}

#sec2 .inner2 .hover .hov .hov_inner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    position: relative;
}

#sec2 .hov_inner .title {
    padding: 5px 0;
    text-transform: uppercase;
    font-family: 'GmarketSansLight';
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#sec2 .hov_inner .img {
    bottom: -45%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    position: absolute;

    transition: .3s;
}

#sec2 .hov_inner .img img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 100%;
}

#sec2 .inner2 .hover .hov_inner a {
    color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 10;
}

#sec2 .hov_inner.on .img {
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
}

#sec2 .hov_inner .circle {
    height: 100%;
}

#sec2 .hov_inner .circle span {
    color: transparent;
    background-color: var(--sub-color1);
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -35%);
    width: 25px;
    height: 25px;
    border-radius: 50%;

    transition: .3s;
}

#sec2 .hov_inner.on .circle span:nth-of-type(1) {
    background-color: red;
}

#sec2 .hov_inner.on .circle span:nth-of-type(2) {
    background-color: orange;
}

#sec2 .hov_inner.on .circle span:nth-of-type(3) {
    background-color: gold;
}

#sec2 .hov_inner.on .circle span:nth-of-type(4) {
    background-color: lightseagreen;
}

#sec2 .hov_inner.on .circle span {
    left: 50%;
    top: 18%;
    transform: translate(-50%, -18%);
}

#sec2 .hov_inner.on .circle span:nth-child(1) {
    left: 20%;
}

#sec2 .hov_inner.on .circle span:nth-child(2) {
    left: 40%;
}

#sec2 .hov_inner.on .circle span:nth-child(3) {
    left: 60%;
}

#sec2 .hov_inner.on .circle span:nth-child(4) {
    left: 80%;
}

/* 섹션 2 끝  */
/* 섹션 3 시작 */
#sec3 {
    background-color: var(--main-color1);
    background-image: url(../img/tip_bg.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

#sec3 .inner3 {
    width: 80vw;
    margin: auto;
    margin-bottom: 2vw;
}


#sec3 h1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 10px 0;
    border-bottom: 1px solid white;
    margin: 5vw 0;
    /* text-align: center; */
    font-size: 50px;
    color: white;
    text-align: center;
}

#sec3 .tip {
    display: flex;
    justify-content: space-evenly;
}

#sec3 .tip li {
    width: calc(100% / 3);
    position: relative;
    z-index: 1;
}

#sec3 .tip li p:nth-child(1) {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    height: 8vw;
    text-align: left;

    position: relative;
}

#sec3 .tip li:nth-child(1) p:nth-child(1)::before,
#sec3 .tip li:nth-child(2) p:nth-child(1)::before,
#sec3 .tip li:nth-child(3) p:nth-child(1)::before {
    position: absolute;
    left: -15%;
    top: -20%;
    font-size: 48px;
    color: var(--main-color3);
}

#sec3 .tip li:nth-child(1) p:nth-child(1)::before {
    content: "1";
}

#sec3 .tip li:nth-child(2) p:nth-child(1)::before {
    content: "2";
}

#sec3 .tip li:nth-child(3) p:nth-child(1)::before {
    content: "3";
}

#sec3 .tip_img {
    width: 100%;
    height: 15vw;
    transition: .3s;

    position: relative;
}

#sec3 .tip_img img {
    position: absolute;
    height: 15vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#sec3 .tip li:hover .img1 {
    transform: rotate(-5deg);
}

#sec3 .tip li:hover .img2 {
    transform: translateY(10px);
}

#sec3 .tip li:hover .img3 {
    transform: rotate(5deg);
}

/* 섹션 3 끝 */
/* 섹션 4 시작 */
#sec4 {
    padding-top: 50%;
    position: relative;
}

#sec4::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -20vw;
    background: url(../img/tag4.png) no-repeat top right;
}

#sec4 .inner4 {
    text-align: center;
    padding: 5vw 0;

    position: absolute;
    width: 100%;
    top: 0
}

#sec4 .inner4 h1 {
    font-size: 50px;
}

.swiper-container {
    cursor: grab;
}

.tap_menu {
    display: flex;
    width: 60%;
    margin: auto;

    position: relative;
    padding: 0vw;
}

.tap_menu .more {
    flex: 1;

    font-family: 'GmarketSansLight';
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    z-index: 1;
}

.flower {
    margin-right: 30px;
}

.flower,
.plant {
    cursor: pointer;

    position: relative;
    z-index: 1;
}

.flower::after,
.plant::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--sub-color1);
    z-index: -1;

    /* transition: .3s; */
}

.flower:hover::after,
.plant:hover::after,
.flower.on::after,
.plant.on::after {
    background-color: var(--main-color3);
}

/*  */

.sec4_F_slide,
.sec4_P_slide {
    width: 100%;
    padding-top: 5vw;
    position: absolute;

    opacity: 0;
}

.sec4_F_slide.on,
.sec4_P_slide.on {
    opacity: 1;
    z-index: 10;
}

.item {
    position: relative;
    height: 100%;
}

.item>* {
    position: absolute;
    width: 100%;
}

.item.on {
    position: relative;
}

.item.on::before {
    position: absolute;
    content: "SALE";
    top: 0;
    left: 0;
    font-size: 22px;
    color: var(--main-color1);
}

.item.on::after {
    position: absolute;
    content: "L";
    border: 1px solid var(--main-color2);
    background-color: white;
    box-shadow: 3px 3px 0 var(--main-color1);
    border-radius: 50%;
    padding: 10px 5px 0;
    width: 30px;
    height: 30px;
    top: 0;
    right: 10%;
    font-size: 22px;
    font-family: 'GmarketSansLight';
    font-weight: bold;
    color: var(--main-color1);
}

.item_img {
    /* border: 1px dotted red; */
    padding-top: 30vw;
    width: 100%;
    position: relative;
}

.item_img img {
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    height: 50%;
    position: absolute;
}
.sec4_P_slide .item_img.on,
.item_img.on img {
    height: 70%;
}

.item_img::before,
.item_img::after {
    border-radius: 15px;
    background-color: white;
    position: absolute;
    content: "";
    width: 10%;
    height: 10%;

    transform: rotate(0deg);

    top: 30%;
    left: 50%;

    z-index: -10;

    opacity: 0;
    transition: .5s;
}

.item_img.on::before,
.item_img.on::after {
    border-radius: 15px;
    background-color: #fff1da;
    position: absolute;
    content: "";
    width: 60%;
    height: 60%;

    transform: rotate(15deg);

    top: 12%;
    left: 20%;

    z-index: -10;
    opacity: 1;
}

.item_img.on::before {
    border: 1px solid var(--main-color2);
    background-color: transparent;
    transform: rotate(10deg);
    z-index: -1;
}

.item_title {
    bottom: 10%;
    font-size: 20px;
}

.item_detail,
.item_detail2 {
    font-size: 20px;
    color: gray;
    bottom: 3%;
}

.item_detail2 {
    opacity: 0;
}

.item_detail2.on {
    left: -23%;
    bottom: 3.5%;
    text-decoration: line-through;
    font-size: 15px;
    color: rgb(175, 175, 175);
    opacity: 1;
}

.item_link {
    color: transparent;
    height: 100%;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

/* 섹션 4 끝 */
/* 섹션 5 시작 */
#sec5 {
    text-align: center;
    padding-bottom: 10vw;

    background: url(../img/line_bg.png) no-repeat center bottom;
    background-size: contain;

    position: relative;
}

#sec5::after,
#sec5::before {
    position: absolute;
    content: "";
    top: -5vw;
    width: 100%;
    height: 100%;
    background-size: contain;
}

#sec5::before {
    left: 0;
    background: url(../img/tag5.png) no-repeat;

}

#sec5::after {
    right: 0;
    background: url(../img/tag5.png) no-repeat;
    transform: scaleX(-1);


}

#sec5 h1 {
    margin-top: 5vw;
    display: inline-block;
    font-size: 50px;
    position: relative;
}

#sec5 h1::after,
#sec5 h1::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
}

#sec5 h1::before {
    left: -70%;
    background: url(../img/flower.png) no-repeat center;
    background-size: contain;
}

#sec5 h1::after {
    right: -70%;
    background: url(../img/scissor.png) no-repeat center;
    background-size: contain;
}

#sec5 .inner5 {
    padding-top: 5vw;
    width: 80vw;
    height: 30vw;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
}

#sec5 figure {
    width: calc(100% / 3);
    position: relative;
}

#sec5 figure a {
    position: absolute;
    color: transparent;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#sec5 figcaption {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

#sec5 figcaption .title {
    position: relative;
    padding: 10px 0;
}

#sec5 figcaption .title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/tape.png) no-repeat center;
    background-size: contain;
    z-index: -1;
}

#sec5 figcaption .img {
    border-radius: 15px;
    box-shadow: var(--main-color1);
}

#sec5 figcaption .img,
#sec5 figcaption .txt {
    position: absolute;
    height: 80%;
    width: 70%;

    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

#sec5 figcaption .img .wrap {
    border-radius: 15px;
    box-shadow: 5px 5px 0 #c6bdb8;
    width: 100%;
    height: 100%;
    overflow: hidden;

    transition: .3s;

    position: relative;
}

#sec5 figcaption .img .wrap img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    z-index: -1;
}

#sec5 figcaption .txt {
    color: var(--main-color1);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    opacity: 0;
}

#sec5 figure:hover .txt {
    opacity: 1;
}

#sec5 figure:hover .img .wrap {
    background-color: rgba(255, 255, 255, 0.7);
}

#sec5 figcaption .img .wrap img {
    transition: .3s;
    width: 100%;
}

#sec5 figure:hover img {
    filter: blur(3px);
}

/* 섹션 5 끝 */