@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    font-family: 'GmarketSansLight';
    font-family: 'Cafe24Oneprettynight';
    font-size: 30px;
    --main-color1 : #84614c;
    --main-color2 : #d0a184;
    --main-color3 : #ffe1af;

    --sub-color1 : #e2e2e2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    overflow-x: hidden;
}
a {text-decoration: none;
    color: black;}
ul,li {list-style: none;}

html {
    scroll-behavior: smooth;
}
section {
    border: 3px solid black;
    margin: auto;
}
#sec1::before {
    position: absolute;
    content: "";
    
    display: block;
    /* border: 1px solid red; */
    width: 864px;
    height: 814px;
    top: 0px;
    z-index: 10;
}
#sec1::after {
    position: absolute;
    content: "";
    display: block;
    /* border: 1px solid red; */
    width: 226px;
    height: 738px;
    right: 0; top: 40%;
    background: url(../img/tag2.png) no-repeat;
    background-size: contain ;
}
/* header 시작 */
header {
    /* border: 1px solid green; */
    margin: auto;
    width: 100%;
    height: 150px;
    background: linear-gradient(#f9f9f9,white);
    z-index: 100;

    position: sticky;
    top: -110px;
}
nav {
    /* border: 1px dotted red; */
    width: 100%;
    margin: auto;
    position: relative;
    height: 150px;
    /* 높이 조절 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
nav div {
    position: absolute;
    width: 100%;
}

nav .logo {
    /* border: 1px solid red; */
    left: 50%;
    top: -120px;
    transform: translateX(-50%);
    width: 150px;
}
nav .logo img {
    width: 100%;
}
nav .logo::after{
    content: "일상의 여유,";
    left: -50px;
    font-size: 28px;
    position: absolute;
    left: -130px;
}
nav .login {
    /* border: 1px solid red; */
    max-width: calc(100% - 680px);
    top: -120px;
    left: 50%; transform: translateX(-50%);
    text-align: right;
    font-size: 18px;
}
.login a {
    color: #8f8f8f;
}
.login a::after {
    content: "|";
    padding: 0 10px;
}
.login a:nth-of-type(3)::after{
    display: none;
}
/* 스크롤시 사라지는 부분 끝 */

/* gnb 시작 */
nav .wrap_gnb {
    /* border: 1px solid red; */
    max-width: calc(100% - 680px);
    left: 50%; transform: translateX(-50%);
}
.gnb {
    /* border: 1px solid blue; */
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.gnb>li {
    /* border: 1px dotted blue; */
    margin: 0px 0;

    text-align: center;
    position: relative;

    z-index: 10;
}
.top_icon,
.top_icon span,
.top_icon span a {
    display: flex;
    align-items: center;
}
.top_icon span a {
    color: var(--main-color2);
    justify-content: center;
    align-items: center;
}
.top_icon span a img {
    width: 80%;
}
.top_icon span:nth-of-type(2){
    padding-left: 10px;
}
/* 서브 메뉴 시작 */
.gnb li .sub {
    /* border: 1px solid red; */
    position: absolute;
    left: 50%; transform: translateX(-50%);
    height: 0px;
    margin-top: 5px;
    color: var(--main-color1);

    overflow: hidden;
    transition: .3s;
}
.gnb li:hover .sub{
    height: 210px;
}
.gnb li .sub li a{
    /* border: 1px solid blue; */
    padding: 10px 10px;
    background-color: rgba(255,255,255,0.9);
    /* background-color: lightgreen; */
    white-space: nowrap;
    display: block;
    color: var(--main-color);
    transition: .3s;
}
.gnb li .sub li:hover a {
    background-color: var(--main-color2);
    color: white;
}
/* 서브 메뉴 끝 */

/* 사이드 도트 시작 */
.side_dot {
    z-index: 100;
    position: fixed;
    right: 10%;
    top: 50%; transform: translateY(-50%);
}
.side_dot a {
    display: flex;
    border: 1px solid var(--main-color2);
    background-color: white;
    padding: 5px;
    margin: 8px 0;
    border-radius: 50%;
    width: 10px; height: 10px;
}
.side_dot a.on {
    background-color: var(--main-color2);
}
/* 사이드 도트 끝 */
/* 하단 영역 */
footer {
    background-color: var(--main-color1);
    height: 150px;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer div {
    display: flex;
}
footer div a {
    position: relative;
    margin: 5px;
    width: 30px;
    height: 30px;
}
footer div a img {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    width: 100%
}
footer div a:nth-of-type(3) img {
    width: 45px;
}
/* 사이드 sns 아이콘 */
.side_sns {
    position: fixed;
    top: 75%;
    right: 30px;

}


/* 슬라이드 영역 */
#sec1 {
    /* width: 500%; */
    height: 300px;
}
.slide_wrap {
   width: 500%;
}
.slide {
    display: flex;
}
.slide article {
    width: calc(100% / 5);
}

/* 슬라이드 두시 영역 */
.main_0 {
    width: calc(100% - 680px);
    margin: auto;
    padding-top: 30px;
}
.main_0 figure{
    border: 1px solid red;
    position: relative;
    margin: auto;
}
.main_0 .rotate {
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 150px;
    /* 도는 로고 위치 */
    right: -100px;
    bottom: 80px;
}
.main_0 .rotate h1,
.main_0 .rotate h2 {
    position: absolute;
    width: 100%;
    height: 100%;
}
.main_0 .rotate h2 img {
    position: absolute;
    width: 60%;
    left:50%; top: 50%;
    transform: translate(-50%,-50%);
}
.main_0 .rotate h1{
 animation: rotate infinite linear 50s;
}
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.main_0 figure .text {
    /* border: 1px solid blue; */
    position: absolute;
    right: 0;
    margin-top: 80px;
    text-align: right;
}
.text .text_1 {
    padding-bottom: 30px;
}
.main_0 figure figcaption {
    /* border: 1px solid red; */
    display: inline-block;
    margin: 80px 0 30px 250px;
}
.main_0>p {
    border: 1px solid red;
    display: inline-block;
    position: absolute;
    top: 40%; left: 13%;
}
/* 슬라이드 두시 영역 끝*/
/* 슬라이드 명화 영역 시작 */
/* 슬라이드 명화 영역 끝*/
/* 슬라이드 프로방스 영역 시작 */
/* 슬라이드 프로방스 영역 끝*/
/* 슬라이드 도시 영역 시작 */
/* 슬라이드 도시 영역 끝*/
/* 슬라이드 자연 영역 시작 */
/* 슬라이드 자연 영역 끝*/

/* 섹션 2 시작 */
#sec2 {
    /* border: 1px solid blue; */
    /* height: 100vh; */
    padding-top: 150px;
    margin-top: 150px;
    
    position: relative;
    overflow: hidden;
}
#sec2::after {
    position: absolute;
    content: "";
    background: url(../img/line_bg.png) no-repeat bottom;
    background-size: contain;
    /* border: 5px solid blue; */
    width: 100%;
    height: 100%;
    bottom: -100px;
    opacity: 0.02;
    z-index: -1;
}
#sec2 h1,
#sec2 p{
    text-align: center;
}
#sec2 h1 {
    font-family: 'GmarketSansLight';
    letter-spacing: -0.1em;
    font-size: 38px;
}
#sec2 p {
    font-size: 36px;
    position: relative;
}
#sec2>h1{
    position: relative;
}
#sec2>h1::after,
#sec2>h1::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    bottom: 0;
}
#sec2>h1::before {
    left: -20%;
    background: url(../img/berry.png) no-repeat center;
    background-size: contain;
}
#sec2>h1::after {
    right: -20%;
    background: url(../img/berry.png) no-repeat center;
    background-size: contain;
    transform: scaleX(-1)
}

#sec2>p::before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 100%;
    height: 90px;
    left: 50%; top: -45px;
    transform: translateX(-50%);
    background: url(../img/bgYellow.png) no-repeat center;
    background-size: contain;
}
.inner2 {
    /* border: 2px solid red; */
    height: 100%;
    width: calc(100% - 680px);
    text-align: center;
    margin: auto;
}
.hover {
    border:1px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 100%;
    position: relative;
    z-index: 100;
}
.hov {
    width: calc(100% / 4 - 10px);
    height: 55%;
    border: 1px solid orange;
}
.hov .text {
    /* 텍스트 박스 높이 */
    /* border: 1px dotted red; */
    position: absolute;
    width: 50%;
    height: 30%;
    left: 50%; top: 20%;
    transform: translate(-50%,-30%);
    
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    transition: .3s;
}
.text.on {
    opacity: 1;
}
/* 꽃다발 설명글 끝 */
/* 꽃다발 이미지 */
.hov_inner {
    position: relative;
    height: 100%;
}
.hov_inner a {
    position: absolute;
    display: block;
    width: 100%;
    height:100%;
    z-index: 10;
}
.hov_inner .title {
    /* border: 1px solid blue; */
    padding: 5px 0;
    font-family: 'GmarketSansLight';
    text-transform: uppercase;
}
.hov_inner .circle {
    /* border: 1px solid green; */
    height: 90px;
    width: 100%;
    position: relative;
}

.hov_inner .circle span {
    background-color: var(--sub-color1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%; bottom: 10px;
    transform: translateX(-50%);

    transition: .3s;
}
.hov_inner.on .circle span,
.hov:hover .hov_inner .circle span {
    bottom: 50%;
}
.hov_inner.on .circle span:nth-child(1),
.hov:hover .hov_inner .circle span:nth-child(1) {
    left: 20%;
    background-color: lightpink;
}
.hov_inner.on .circle span:nth-child(2),
.hov:hover .hov_inner .circle span:nth-child(2) {
    left: 40%;
    background-color: lightsalmon;
}
.hov_inner.on .circle span:nth-child(3),
.hov:hover .hov_inner .circle span:nth-child(3) {
    left: 60%;
    background-color: lightseagreen;
}
.hov_inner.on .circle span:nth-child(4),
.hov:hover .hov_inner .circle span:nth-child(4) {
    left: 80%;
    background-color: lightblue;
}

.hov_inner .img {
    /* border: 5px solid purple; */
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0px;
}
.hov:nth-of-type(3) .hov_inner .img  img {
    /* border: 1px solid red; */
    left: -25%;
    width: 150%;
}

.hov_inner .img  img {
    /* 꽃다발 높이 조절 */
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -75px;

    transition: .3s;
}
.hov_inner.on .img  img,
.hov:hover .hov_inner .img  img {
    bottom: -40px;
}
/* 섹션 2 끝 */

/* 섹션 3 시작 */
#sec3{
    background-color: var(--main-color1);
    position: relative;
}
#sec3::before {
    position: absolute;
    content: "";
    background: url(../img/tag3.png) no-repeat top;
    background-size: contain;
    width: 98px;
    height: 692px;
    top: -550px;
    z-index: 1;
}
#sec3::after {
    position: absolute;
    content: "";
    background: url(../img/tag4.png) no-repeat top;
    background-size: contain;
    width: 78px;
    height: 655px;
    right: 0;
    top: 200px;
    z-index: 1;
}
.inner3 {
    position: relative;
    text-align: center;
    padding-top: 30px;
}
.inner3::after{
    content: "";
    position: absolute;
    background: url(../img/tip_bg.png) no-repeat bottom;
    background-size: cover;
    display: block;
    left: 0%;
    bottom: -35%;
    width: 100%;
    height: 210px;

}
.inner3 div {
    width: calc(100% - 680px);
    margin: auto;
}
.inner3 h1 {
    font-size: 48px;
    margin-top: 50px;
    padding-bottom: 5px;
    color: white;
    display: inline-block;
    border-bottom: 1px solid white;

    position: relative;
}
.inner3 .tip {
    /* border: 1px solid red; */
    font-size: 0.8em;
    width: 80%;
    margin: auto;
    margin-top: 80px;

    display: flex;
    justify-content: space-evenly;
}
.tip li p {
    /* border: 1px solid pink; */
    text-align: left;
    color: white;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    height: 100px;
    position: relative;
}
.tip li p:nth-of-type(1) {
    /* background-color: lightseagreen; */
    margin-bottom: 10px;
} 
.tip li img {
    position: absolute;
    top: 0;
    /* border: 1px solid red; */
    width: 70%;
    z-index: 1;

    transition: .8s;
}
.tip li:nth-of-type(2) img {
    width: 65%;
}
.tip li:nth-of-type(3) img {
    width: 90%;
}
.tip li:hover .tip_img1 img{
    transform: rotate(-10deg);
}
.tip li:hover .tip_img2 img{
    transform: translateY(10px);
}
.tip li:hover .tip_img3 img{
    transform: rotate(10deg);
}
/* 섹션 3 끝 */
#sec4{
    height: 100vh;
    padding: 250px 0 0px;
}
.inner4 {
    background-color: lightgray;
    text-align: center;
    height: 100%;

    position: relative;
}
.inner4 h1 {
    font-size: 48px;
}
.swiper-slide a {
    color: transparent;
}
/*  */
.inner4 {
    position: relative;
}
.flower, .more {
    position: absolute;
    left: 20%; top: 0;
}
.more {
    font-family: 'GmarketSansLight';
    font-size: 20px;
    top: 60px;
}

.sec4_F_slide, .sec4_P_slide {
    display: none;
}

/*  */



/* 슬라이드 영역*/
.swiper-container {
    margin-top: 150px;
    height: 70%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;

    position: relative;
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  }

/* 버튼 */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 20%;
  z-index: 10;
  cursor: pointer;
}
.swiper-button-prev {
    left: 30%;
}
.swiper-button-next {
    right: 30%;
}
.swiper-silde {
    border: 3px solid orange;
}
/* sec4 slide */

.slide {
    display: flex;
}
.slide article {
    width: calc(100% / 5);
}
/*  */
.tap_flower {
    border: 1px solid red;
    position: absolute;
    left: 0; top: 0;
    height: 100%;
    width: 100%;
}
.Flower_slide {
    border: 1px solid red;
}
.slide_con {
    width: 10%;
    margin: auto;
    overflow: hidden;
    border:5px solid lightcoral
}
.slide_list {
    border:10px solid lightgreen;
    height: 100%;
}
.item {
    border:1px solid lightseagreen;
    width: 150px;
    height: 150px;
    position: relative;
}
.item>* {
    position: absolute;
    text-align: center;
}
.item .item_title {
    width: 100%;
    bottom:30px;
}



/* 섹션 4 끝 */

/* 섹션 5 시작 */
#sec5 {
    text-align: center;
    padding: 80px 0;
    position: relative;
    margin-bottom: 150px;
    /* overflow: hidden; */
}
#sec5::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(../img/line_bg.png) no-repeat bottom;
    background-size: contain;
    bottom: -100px;
    z-index: -10;
    opacity: 0.02;
}
#sec5 h1 {
    display: inline-block;
    font-size: 48px;
    position: relative;
    padding: 5px 20px;
}
#sec5 h1::before,
#sec5 h1::after {
    color: transparent;
    width: 50px; height: 120%;
    top: 50%; transform: translateY(-50%);
    position: absolute;
    content: "a";
    background: url(../img/flower.png) no-repeat center;
    background-size: contain;
}
#sec5 h1::before {
    left: -50px;
}
#sec5 h1::after {
    background: url(../img/scissor.png) no-repeat center;
    background-size: contain;
    right: -50px;
}
.inner5 {
    border: 4px dotted red;
    margin: auto;
    width: 70vw;
    padding-top:30vw;
    margin-top: 30px;

    position: relative;
}
.inner5>div {
    border: 1px solid red;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
}
.inner5 div div {
    width: calc(100% / 3);
    
    position: relative;
}
.inner5 div .class_title {
    position: absolute;
    top:0; left: 50%;
    transform: translateX(-50%);
}

.inner5 figure {
    border: 1px solid blue;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
