#sec2 {
    padding-top: 10vw;
    text-align: center;
}
#sec2 .inner2 {
    position: relative;
}
#sec2 .inner2 .hover {
    position: absolute;
    border: 1px solid orange;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;

}
#sec2 .inner2 .hover .hov {
    border: 1px solid blue;
}